<% include head.html %>
    <title>Hugh’s Vlog</title>
    <script>window.ShadyDOM = { "force": true };</script>
    <script src="lib/webcomponentsjs/webcomponents-loader.js" defer="defer"></script>
    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

      * {
        box-sizing: border-box;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="module">//<![CDATA[
      window.fbAsyncInit = function() {
        FB.init( {
          "appId": "1117428231678998",
          "autoLogAppEvents": true,
          "xfbml": false,
          "version": "v2.10"
        } );

        FB.AppEvents.logPageView();

        // console.log( 'wtf' );

        function renderFbLikeButtonWhenReady() {
          let hughsVlog = document.querySelector( 'hughs-vlog' );
          let hughsVlogHeader = hughsVlog.shadowRoot.querySelector( 'hughs-vlog-header' )
          let hughsVlogSubscribe = hughsVlogHeader.shadowRoot.querySelector( 'hughs-vlog-subscribe' );

          hughsVlogSubscribe.renderFbLikeButton();
        }

        function webComponentsReady() {
          window.customElements.whenDefined( 'hughs-vlog-subscribe' ).then( renderFbLikeButtonWhenReady );

          return import( '/views/components/hughs-vlog.js' );
        }

        if ( WebComponents && 'waitFor' in WebComponents ) {
          // console.log( 'waitFor' );
          WebComponents.waitFor( webComponentsReady );
        } else {
          // console.log( 'no waitFor' );
          webComponentsReady();
        }
      };

      ( function loadFacebookSDK( d, s, id ) {
        var js, fjs = d.getElementsByTagName( s )[0];

        if ( d.getElementById( id ) ) {
          return;
        }

        js = d.createElement( s );
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.insertBefore( js, fjs );
      }( document, 'script', 'facebook-jssdk' ) );
    //]]></script>
    <hughs-vlog>
      <!-- @number, @published, @recorded -->
      <!-- <%- include(page, {published: published, inline: inline}) %> -->
      <!-- <hughs-vlog-latest-episode></hughs-vlog-latest-episode> -->
      <!-- <hughs-vlog-episode></hughs-vlog-episode> -->
      <!-- <hughs-vlog-feed src="http://localhost:3000/videos"></hughs-vlog-feed> -->
    </hughs-vlog>
    <!-- <div id="app"></div> -->
  </body>
</html>
