<% include head.xml %>
    <title>Hugh’s Vlog</title>
    <!-- Load polyfills; note that "loader" will load these async -->
    <!-- <script src="lib/webcomponentsjs/webcomponents-loader.js"></script> -->
    <script src="lib/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <!-- Load a custom element definition via HTMLImports -->
    <link rel="import" href="components/hughs-vlog.html" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>//<![CDATA[
      window.fbAsyncInit = function() {
        FB.init( {
          "appId": "1117428231678998",
          "autoLogAppEvents": true,
          "xfbml": false,
          "version": "v2.10"
        } );

        FB.AppEvents.logPageView();

        window.customElements.whenDefined( 'hughs-vlog' ).then( function hughsVlogDefined() {
          window.customElements.whenDefined( 'hughs-vlog-header' ).then( function hughsVlogHeaderDefined() {
            let hughsVlog = document.querySelector( 'hughs-vlog' );
            let hughsVlogHeader = hughsVlog.shadowRoot.querySelector( 'hughs-vlog-header' );

            hughsVlogHeader.renderFbLikeButton();
          } );
        } )
      };

      ( function loadFacebookSDK( d, s, id ) {
        var js, fjs = d.getElementsByTagName( s )[0];

        if ( d.getElementById( id ) ) {
          return;
        }

        js = d.createElement( s );
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.insertBefore( js, fjs );
      }( document, 'script', 'facebook-jssdk' ) );
    //]]></script>
    <hughs-vlog></hughs-vlog>
  </body>
</html>