<% include head.html %>
    <title>Hugh’s Vlog</title>
    <script>var ShadyDOM = { "force": true };</script>
    <script src="lib/webcomponentsjs/webcomponents-loader.js" defer="defer"></script>
    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

      * {
        box-sizing: border-box;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="module">//<![CDATA[
      import HughsVlog from './components/hughs-vlog.js';
      import HughsVlogFeed from './components/hughs-vlog-feed.js';
      import HughsVlogEpisode from './components/hughs-vlog-episode.js';

      window.fbAsyncInit = function() {
        FB.init( {
          "appId": "1117428231678998",
          "autoLogAppEvents": true,
          "xfbml": false,
          "version": "v2.10"
        } );

        FB.AppEvents.logPageView();

        // console.log( 'wtf' );

        // WebComponents.waitFor
        function renderFbLikeButtonWhenReady() {
          window.customElements.whenDefined( 'hughs-vlog' ).then( function hughsVlogDefined() {
            console.log( 'hughs-vlog' );
            window.customElements.whenDefined( 'hughs-vlog-header' ).then( function hughsVlogHeaderDefined() {
              console.log( 'hughs-vlog-header' );
              window.customElements.whenDefined( 'hughs-vlog-subscribe' ).then( function hughsVlogSubscribeDefined() {
                console.log( 'hughs-vlog-subscribe' );
                let hughsVlog = document.querySelector( 'hughs-vlog' );
                let hughsVlogHeader = hughsVlog.shadowRoot.querySelector( 'hughs-vlog-header' )
                let hughsVlogSubscribe = hughsVlogHeader.shadowRoot.querySelector( 'hughs-vlog-subscribe' );

                hughsVlogSubscribe.renderFbLikeButton();
              } );
            } );
          } )
        }

        if ( WebComponents && 'waitFor' in WebComponents ) {
          console.log( 'waitFor' );
          WebComponents.waitFor( renderFbLikeButtonWhenReady );
        } else {
          console.log( 'no waitFor' );
          renderFbLikeButtonWhenReady();
        }
      };

      ( function loadFacebookSDK( d, s, id ) {
        var js, fjs = d.getElementsByTagName( s )[0];

        if ( d.getElementById( id ) ) {
          return;
        }

        js = d.createElement( s );
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.insertBefore( js, fjs );
      }( document, 'script', 'facebook-jssdk' ) );
    //]]></script>
    <hughs-vlog>
      <!-- @number, @published, @recorded -->
      <%- include(page, {published: published, inline: inline}) %>
      <!-- <hughs-vlog-latest-episode></hughs-vlog-latest-episode> -->
      <!-- <hughs-vlog-episode></hughs-vlog-episode> -->
      <!-- <hughs-vlog-feed src="http://localhost:3000/videos"></hughs-vlog-feed> -->
    </hughs-vlog>
  </body>
</html>
