<Files index.html>
  AddType application/xhtml+xml .html
  # AddType text/html .html
</Files>
AddType application/ovml+xml .ovml
AddType application/hvml+xml .hvml
# AddType text/xml .ovml
# AddType application/xml .ovml