<% include ../head.xml %>
    <link rel="import" href="hughs-vlog-header.html" />
    <link rel="import" href="hughs-vlog-footer.html" />
    <link rel="import" href="hughs-vlog-feed.html" />
    <link rel="import" href="hughs-vlog-playback-options.html" />
    <link rel="import" href="hughs-vlog-episode-nav.html" />
    <link rel="import" href="hughs-vlog-episode.html" />
  </head>
  <template id="hughs-vlog">
    <style>
      * {
        box-sizing: border-box;
      }

      :host {
        display: block;
        margin: 0 auto;
        max-width: 853px;
      }

      main {
        margin-bottom: 3rem;
      }
    </style>
    <hughs-vlog-header></hughs-vlog-header>
    <main>
      <slot></slot>
      <hughs-vlog-playback-options></hughs-vlog-playback-options>
      <hughs-vlog-episode-nav></hughs-vlog-episode-nav>
    </main>
    <hughs-vlog-footer></hughs-vlog-footer>
  </template>
  <script>//<![CDATA[
  (function () {
    "use strict";

    var ownerDocument = document.currentScript.ownerDocument;

    class HughsVlog extends HTMLElement {
      
      // Remember to call the super method here
      constructor() {
        super();

        var app = this;

        const $shadowRoot = app.attachShadow({
          "mode": "open"
        });
        const $HughsVlog = ownerDocument.querySelector( '#hughs-vlog' );
        const $shadowContent = $HughsVlog.content.cloneNode( true );

        $shadowRoot.appendChild( $shadowContent );
      }
    }

    window.customElements.define( 'hughs-vlog', HughsVlog );
  })();
  //]]></script>
</html>