<% include ../head.xml %>
  </head>
  <template id="hughs-vlog-site-nav">
    <style>
      * {
        box-sizing: border-box;
      }

      :host {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: .5rem auto;
      }

      a {
        flex: 1;
        background-color: black;
        color: white;
        margin: 0 0.25rem;
        padding: .5rem;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }

      a:first-of-type {
        margin-left: 0;
      }

      a:last-of-type {
        margin-right: 0;
      }

      .middle {
        flex: 2;
      }
    </style>
    <a href="javascript:void(0);">About</a> 
    <a href="javascript:void(0);">Episodes</a> 
    <!-- <a class="middle" href="javascript:void(0);">Companion Blog</a>  -->
    <a href="javascript:void(0);">Contact</a>
  </template>

  <script>//<![CDATA[
  (function () {
    "use strict";

    // http://stackoverflow.com/q/41408477/214325
    var ownerDocument = document.currentScript.ownerDocument;

    class HughsVlogSiteNav extends HTMLElement {
      
      // Remember to call the super method here
      constructor() {
        super();

        const $shadowRoot = this.attachShadow({mode: 'open'});
        const $HughsVlogSiteNav = ownerDocument.querySelector( '#hughs-vlog-site-nav' );
        const $shadowContent = $HughsVlogSiteNav.content.cloneNode( true );

        $shadowRoot.appendChild( $shadowContent );
      }

      connectedCallback() {
        this.setAttribute( 'role', 'navigation' );
      }
    }

    window.customElements.define( 'hughs-vlog-site-nav', HughsVlogSiteNav );
  })();
  //]]></script>
</html>