<% include ../head.xml %>
    <link rel="import" href="hughs-vlog-site-nav.html" />
    <link rel="import" href="hughs-vlog-subscribe.html" />
  </head>
  <template id="hughs-vlog-header">
    <style>
      * {
        box-sizing: border-box;
      }

      :host {
        display: block;
        text-align: center;
        margin: 1.5rem auto 2.5rem;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      /*a:hover,
      a:focus {
        text-decoration: underline;
      }*/

      .h {
        margin: 0 auto;
      }

      p { 
        margin: .5rem auto 1rem;
      }

      .link-wrapper {
        display: block;
      }
    </style>
    <a class="link-wrapper" href="javascript:void(0);">
      <h1 class="h h--1">Hugh’s Vlog</h1>
    </a>
    <p>The daily life of a startup founder, programmer, and filmmaker.</p>
    <hughs-vlog-site-nav></hughs-vlog-site-nav>
    <hughs-vlog-subscribe></hughs-vlog-subscribe>
  </template>
  <script>//<![CDATA[
  (function () {
    "use strict";

    // http://stackoverflow.com/q/41408477/214325
    var ownerDocument = document.currentScript.ownerDocument;

    class HughsVlogHeader extends HTMLElement {
      
      // Remember to call the super method here
      constructor() {
        super();

        const $shadowRoot = this.attachShadow({mode: 'open'});
        const $HughsVlogHeader = ownerDocument.querySelector( '#hughs-vlog-header' );
        const $shadowContent = $HughsVlogHeader.content.cloneNode( true );

        $shadowRoot.appendChild( $shadowContent );
      }

      connectedCallback() {
        this.setAttribute( 'role', 'banner' );
      }
    }

    window.customElements.define( 'hughs-vlog-header', HughsVlogHeader );
  })();
  //]]></script>
</html>